In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel ("Dataset_empresas.xls").reset_index()
df

,index,Unnamed: 0,"CAE Rev. 3 (total, secções A a J, L a N e P a S) - variante 27 (2)",Empresas (N.º) por Localização geográfica (NUTS - 2013) e Atividade económica (Subclasse - CAE Rev. 3); Anual (3),Remunerações (€) das Empresas por Localização geográfica (NUTS - 2013) e Atividade económica (Subclasse - CAE Rev. 3); Anual (3),Resultado líquido do período (€) das empresas por Localização geográfica (NUTS - 2013) e Atividade económica (Subclasse - CAE Rev. 3); Anual (3),Pessoal ao serviço (N.º) das Empresas por Localização geográfica (NUTS - 2013) e Atividade económica (Divisão - CAE Rev. 3); Anual (3),Volume de negócios (€) das empresas por Localização geográfica (NUTS - 2013) e Atividade económica (Divisão - CAE Rev. 3); Anual (3),Rendibilidade operacional das vendas (%) das Empresas por Localização geográfica (NUTS - 2013) e Atividade económica (Divisão - CAE Rev. 3); Anual (3),Taxa de sobrevivência (%) das Empresas nascidas 2 anos antes por Localização geográfica (NUTS - 2013) e Atividade económica (Divisão - CAE Rev. 3); Anual (4)
0,0,Alto Minho,Industries (Utilities & Manufacturing & Agricu...,5482,12074019.0,12847008.0,6545.0,1.032422e+08,14.80,50.12
1,1,Alto Minho,Industries (Utilities & Manufacturing & Agricu...,49,NaN,NaN,NaN,NaN,NaN,75.00
2,2,Alto Minho,Industries (Utilities & Manufacturing),1751,266455594.0,181419143.0,20471.0,2.466139e+09,10.25,67.59
3,3,Alto Minho,Industries (Utilities & Manufacturing),94,148009.0,37963110.0,94.0,1.830025e+08,32.53,91.53
4,4,Alto Minho,Industries (Utilities & Manufacturing),35,NaN,NaN,NaN,NaN,NaN,100.00
...,...,...,...,...,...,...,...,...,...,...
386,386,Algarve,Services,10801,114217170.0,88343653.0,22685.0,6.308132e+08,15.90,44.89
387,387,Algarve,Culture & Education & Social,2428,18386071.0,9824060.0,3618.0,5.452752e+07,20.05,52.93
388,388,Algarve,Culture & Education & Social,3703,52335433.0,49549164.0,7122.0,2.911721e+08,20.28,63.58
389,389,Algarve,Culture & Education & Social,2173,43713259.0,15798103.0,5009.0,2.030221e+08,12.28,60.96
390,390,Algarve,Services,3729,13989025.0,18704687.0,5115.0,7.482669e+07,26.71,67.55

In [3]:
# Header change

df.columns = ["Index","Region","Industry Type", "Nº Companies", "Total Salaries €", "Net Result", "Nº Employees", "Total Turnover €", "Operational Profitability %", "Survival rate %"]

df

,Index,Region,Industry Type,Nº Companies,Total Salaries €,Net Result,Nº Employees,Total Turnover €,Operational Profitability %,Survival rate %
0,0,Alto Minho,Industries (Utilities & Manufacturing & Agricu...,5482,12074019.0,12847008.0,6545.0,1.032422e+08,14.80,50.12
1,1,Alto Minho,Industries (Utilities & Manufacturing & Agricu...,49,NaN,NaN,NaN,NaN,NaN,75.00
2,2,Alto Minho,Industries (Utilities & Manufacturing),1751,266455594.0,181419143.0,20471.0,2.466139e+09,10.25,67.59
3,3,Alto Minho,Industries (Utilities & Manufacturing),94,148009.0,37963110.0,94.0,1.830025e+08,32.53,91.53
4,4,Alto Minho,Industries (Utilities & Manufacturing),35,NaN,NaN,NaN,NaN,NaN,100.00
...,...,...,...,...,...,...,...,...,...,...
386,386,Algarve,Services,10801,114217170.0,88343653.0,22685.0,6.308132e+08,15.90,44.89
387,387,Algarve,Culture & Education & Social,2428,18386071.0,9824060.0,3618.0,5.452752e+07,20.05,52.93
388,388,Algarve,Culture & Education & Social,3703,52335433.0,49549164.0,7122.0,2.911721e+08,20.28,63.58
389,389,Algarve,Culture & Education & Social,2173,43713259.0,15798103.0,5009.0,2.030221e+08,12.28,60.96
390,390,Algarve,Services,3729,13989025.0,18704687.0,5115.0,7.482669e+07,26.71,67.55

In [4]:
# How many lines per industry type will be affected by the data cleaning

df1 = df.groupby("Industry Type")["Nº Companies"].sum()

df.isnull().sum()

Index                           0
Region                          0
Industry Type                   0
Nº Companies                    0
Total Salaries €               44
Net Result                     44
Nº Employees                   44
Total Turnover €               44
Operational Profitability %    44
Survival rate %                 0
dtype: int64

In [5]:
# Applying the Data Cleaning Axis 0 (by default) to affect rows

df2 = df.dropna()
df2

,Index,Region,Industry Type,Nº Companies,Total Salaries €,Net Result,Nº Employees,Total Turnover €,Operational Profitability %,Survival rate %
0,0,Alto Minho,Industries (Utilities & Manufacturing & Agricu...,5482,12074019.0,12847008.0,6545.0,1.032422e+08,14.80,50.12
2,2,Alto Minho,Industries (Utilities & Manufacturing),1751,266455594.0,181419143.0,20471.0,2.466139e+09,10.25,67.59
3,3,Alto Minho,Industries (Utilities & Manufacturing),94,148009.0,37963110.0,94.0,1.830025e+08,32.53,91.53
5,5,Alto Minho,Construction & Real Estate,3719,81874633.0,25351982.0,9884.0,4.317768e+08,7.87,66.58
6,6,Alto Minho,Services,5178,114549221.0,45496758.0,13488.0,1.702837e+09,3.74,61.75
...,...,...,...,...,...,...,...,...,...,...
386,386,Algarve,Services,10801,114217170.0,88343653.0,22685.0,6.308132e+08,15.90,44.89
387,387,Algarve,Culture & Education & Social,2428,18386071.0,9824060.0,3618.0,5.452752e+07,20.05,52.93
388,388,Algarve,Culture & Education & Social,3703,52335433.0,49549164.0,7122.0,2.911721e+08,20.28,63.58
389,389,Algarve,Culture & Education & Social,2173,43713259.0,15798103.0,5009.0,2.030221e+08,12.28,60.96
390,390,Algarve,Services,3729,13989025.0,18704687.0,5115.0,7.482669e+07,26.71,67.55

In [6]:
df2.head()

,Index,Region,Industry Type,Nº Companies,Total Salaries €,Net Result,Nº Employees,Total Turnover €,Operational Profitability %,Survival rate %
0,0,Alto Minho,Industries (Utilities & Manufacturing & Agricu...,5482,12074019.0,12847008.0,6545.0,1.032422e+08,14.80,50.12
2,2,Alto Minho,Industries (Utilities & Manufacturing),1751,266455594.0,181419143.0,20471.0,2.466139e+09,10.25,67.59
3,3,Alto Minho,Industries (Utilities & Manufacturing),94,148009.0,37963110.0,94.0,1.830025e+08,32.53,91.53
5,5,Alto Minho,Construction & Real Estate,3719,81874633.0,25351982.0,9884.0,4.317768e+08,7.87,66.58
6,6,Alto Minho,Services,5178,114549221.0,45496758.0,13488.0,1.702837e+09,3.74,61.75

In [7]:
# See how much Industries were affected by the Data Cleaning

df2.groupby("Industry Type")["Nº Companies"].sum() - df1

Industry Type
Construction & Real Estate                                  0
Culture & Education & Social                           -18193
Hotels and Restaurants                                      0
Industries (Utilities & Manufacturing & Agriculture)   -35087
Industries (Utilities & Manufacturing)                    -35
Information and Communication                               0
Services                                                    0
Name: Nº Companies, dtype: int64

In [8]:
df.columns[:]

Index(['Index', 'Region', 'Industry Type', 'Nº Companies', 'Total Salaries €',
       'Net Result', 'Nº Employees', 'Total Turnover €',
       'Operational Profitability %', 'Survival rate %'],
      dtype='object')

In [9]:
df9 = df2.groupby(['Region','Industry Type']).agg({'Nº Companies':'sum', 
                         'Total Salaries €':'mean','Net Result':'mean','Nº Employees':'sum','Total Turnover €':'mean',
                         'Operational Profitability %':'mean', 'Survival rate %':'mean',
                         })
df9.head(10)

                                                                     Nº Companies  \
Region           Industry Type
Alentejo Central Construction & Real Estate                                  1475
                 Culture & Education & Social                                1868
                 Hotels and Restaurants                                      1852
                 Industries (Utilities & Manufacturing & Agricul...          5992
                 Information and Communication                                206
                 Services                                                    7988
Alentejo Litoral Construction & Real Estate                                   948
                 Culture & Education & Social                                 765
                 Hotels and Restaurants                                      1567
                 Industries (Utilities & Manufacturing & Agricul...          4229

                                                                     Total Salaries €  \
Region           Industry Type
Alentejo Central Construction & Real Estate                               11508746.00
                 Culture & Education & Social                              7308449.00
                 Hotels and Restaurants                                   27431210.00
                 Industries (Utilities & Manufacturing & Agricul...       48311773.25
                 Information and Communication                            11708936.00
                 Services                                                 25792737.25
Alentejo Litoral Construction & Real Estate                               14069751.50
                 Culture & Education & Social                              3009886.50
                 Hotels and Restaurants                                   29130624.00
                 Industries (Utilities & Manufacturing & Agricul...       33791191.20

                                                                      Net Result  \
Region           Industry Type
Alentejo Central Construction & Real Estate                           5913735.00
                 Culture & Education & Social                        10481596.50
                 Hotels and Restaurants                              18109103.00
                 Industries (Utilities & Manufacturing & Agricul...  20402462.25
                 Information and Communication                       -2951406.00
                 Services                                            13633083.25
Alentejo Litoral Construction & Real Estate                         -10761852.00
                 Culture & Education & Social                         2555301.00
                 Hotels and Restaurants                              10930503.00
                 Industries (Utilities & Manufacturing & Agricul...  13376027.20

                                                                     Nº Employees  \
Region           Industry Type
Alentejo Central Construction & Real Estate                                3375.0
                 Culture & Education & Social                              3020.0
                 Hotels and Restaurants                                    4572.0
                 Industries (Utilities & Manufacturing & Agricul...       18566.0
                 Information and Communication                              649.0
                 Services                                                 15860.0
Alentejo Litoral Construction & Real Estate                                2965.0
                 Culture & Education & Social                              1293.0
                 Hotels and Restaurants                                    4104.0
                 Industries (Utilities & Manufacturing & Agricul...       14128.0

                                                                     Total Turnover €  \
Region           Industry Type
Alentejo Central Construction & Real Estate                              6.837707e+07
                 Culture & Education & Social                            4.643619e+07
                 Hotels and Restaurants                                  1.513668e+08
                 Industries (Utilities & Manufacturing & Agricul...      3.610136e+08
                 Information and Communication                           9.508184e+07
                 Services                                                2.767171e+08
Alentejo Litoral Construction & Real Estate                              7.004133e+07
                 Culture & Education & Social                            1.634170e+07
                 Hotels and Restaurants                                  1.656850e+08
                 Industries (Utilities & Manufacturing & Agricul...      3.592430e+08

                                                                     Operational Profitability %  \
Region           Industry Type
Alentejo Central Construction & Real Estate                                              14.7400
                 Culture & Education & Social                                            23.3350
                 Hotels and Restaurants                                                  13.7800
                 Industries (Utilities & Manufacturing & Agricul...                       8.9150
                 Information and Communication                                           -1.3100
                 Services                                                                15.7675
Alentejo Litoral Construction & Real Estate                                             -17.6200
                 Culture & Education & Social                                            16.4050
                 Hotels and Restaurants                                                  12.5100
                 Industries (Utilities & Manufacturing & Agricul...                      14.9140

                                                                     Survival rate %
Region           Industry Type
Alentejo Central Construction & Real Estate                                   73.425
                 Culture & Education & Social                                 63.540
                 Hotels and Restaurants                                       64.470
                 Industries (Utilities & Manufacturing & Agricul...           47.185
                 Information and Communication                                71.430
                 Services                                                     54.500
Alentejo Litoral Construction & Real Estate                                   60.035
                 Culture & Education & Social                                 60.485
                 Hotels and Restaurants                                       62.160
                 Industries (Utilities & Manufacturing & Agricul...           36.324

In [10]:
# Core objective, define best region based on indsustry type (selected by dropdown) and best KPI (selected by dropdown)
# test function select 'construction' and ' total salaries'
df3 = df9.sort_values(['Nº Companies', 'Total Salaries €','Net Result','Nº Employees','Total Turnover €','Operational Profitability %','Survival rate %'], ascending=[False, False, False, False, False, False, False])
# df4 = df3[df3['Industry Type'] == 'Construction & Real Estate']
df5 = df3.filter(items=['Industry Type', 'Total Salaries €','Region'])
# df5.head()
df5

                                                            Total Salaries €
Region                       Industry Type
Área Metropolitana de Lisboa Services                           2.154157e+09
Área Metropolitana do Porto  Services                           7.210004e+08
Área Metropolitana de Lisboa Culture & Education & Social       4.436410e+08
                             Construction & Real Estate         6.858167e+08
                             Hotels and Restaurants             1.240088e+09
...                                                                      ...
Alentejo Litoral             Information and Communication      2.153655e+06
Baixo Alentejo               Information and Communication      1.106915e+06
Terras de Trás-os-Montes     Information and Communication      9.475030e+05
Alto Alentejo                Information and Communication      5.953520e+05
Alto Tâmega                  Information and Communication      8.741640e+05

[139 rows x 1 columns]

In [11]:
df4=df3.filter(like='Construction & Real Estate', axis=0)
df4

,,Nº Companies,Total Salaries €,Net Result,Nº Employees,Total Turnover €,Operational Profitability %,Survival rate %
Region,Industry Type,,,,,,,
Área Metropolitana de Lisboa,Construction & Real Estate,38943,685816723.5,607745672.5,113849.0,5.783453e+09,19.005,69.905
Área Metropolitana do Porto,Construction & Real Estate,18755,323781093.0,305262741.0,58321.0,2.605051e+09,23.895,72.665
Algarve,Construction & Real Estate,9512,107782946.0,53857123.0,24745.0,7.801154e+08,12.465,66.935
Cávado,Construction & Real Estate,6045,150438198.5,67311989.5,26170.0,9.240384e+08,19.940,76.990
Região de Coimbra,Construction & Real Estate,5304,70611562.5,23882275.0,15932.0,3.627769e+08,15.820,57.710
Oeste,Construction & Real Estate,5082,52137798.0,28819343.0,12495.0,3.361283e+08,17.420,67.665
Região de Leiria,Construction & Real Estate,5063,89153515.0,24721383.0,15760.0,5.137791e+08,13.270,60.225
Tâmega e Sousa,Construction & Real Estate,5045,143866548.5,52550015.0,27152.0,6.533144e+08,27.835,74.665
Ave,Construction & Real Estate,4522,79858423.5,41096213.0,15660.0,5.619050e+08,15.815,78.920
Região de Aveiro,Construction & Real Estate,4490,36586956.0,32697172.0,9743.0,2.430518e+08,27.825,63.435
Alto Minho,Construction & Real Estate,4350,42969867.5,19263117.5,10777.0,2.455728e+08,20.480,67.965
Viseu Dão Lafões,Construction & Real Estate,3237,43724695.0,33558899.5,9508.0,2.745176e+08,27.935,64.910
Médio Tejo,Construction & Real Estate,2962,37920422.5,30249366.5,7927.0,2.414522e+08,30.560,58.385
Beiras e Serra da Estrela,Construction & Real Estate,2395,18734797.5,10527682.0,5630.0,1.192815e+08,27.575,69.100
Lezíria do Tejo,Construction & Real Estate,2032,26574920.5,13257192.5,5582.0,1.359986e+08,21.255,68.965
Douro,Construction & Real Estate,1804,22836932.0,7488605.5,5719.0,1.187796e+08,11.985,72.045
Alentejo Central,Construction & Real Estate,1475,11508746.0,5913735.0,3375.0,6.837707e+07,14.740,73.425
Terras de Trás-os-Montes,Construction & Real Estate,1215,8009866.0,4076008.0,2617.0,4.902679e+07,9.465,64.980
Alto Tâmega,Construction & Real Estate,951,13744001.0,3606121.0,2836.0,7.915606e+07,12.720,57.010
Beira Baixa,Construction & Real Estate,949,7859134.5,7490897.0,2227.0,4.777309e+07,23.570,65.595
Alentejo Litoral,Construction & Real Estate,948,14069751.5,-10761852.0,2965.0,7.004133e+07,-17.620,60.035
Baixo Alentejo,Construction & Real Estate,840,7889430.5,8075374.5,2133.0,5.665474e+07,20.285,57.690
Alto Alentejo,Construction & Real Estate,802,8186629.5,2933265.0,2303.0,4.122346e+07,11.190,65.445

In [12]:
#Drop-down Menu Selec

from tkinter import *
import tkinter as ttk

root = Tk()
root.title("Best Place for your Company")

# Add a grid
mainframe = Frame(root)
mainframe.grid(column=0,row=0, sticky=(N,W,E,S) )
mainframe.columnconfigure(0, weight = 1)
mainframe.rowconfigure(0, weight = 1)
mainframe.pack(pady = 200, padx = 200)

# Create a Tkinter variable
tkvar = StringVar(root)

# Dictionary with options
choices = {'Construction & Real Estate',
'Culture & Education & Social',
 'Hotels and Restaurants',
'Industries (Utilities & Manufacturing & Agriculture)',
 'Information and Communication', 
'Services',}
tkvar.set("Construction & Real Estate") # set the default option

popupMenu = OptionMenu(mainframe, tkvar, *choices)
Label(mainframe, text="Select an Industry Segment to invest").grid(row = 1, column = 1)
popupMenu.grid(row = 2, column =1)

# on change dropdown value
def change_dropdown(*args):
    print( tkvar.get() )

# link function to change dropdown
tkvar.trace('w', change_dropdown)

root.mainloop()

Services

In [13]:
var_industry = tkvar.get()
var_industry

'Services'

In [14]:
if var_industry == 'Construction & Real Estate':
    df4=df3.filter(like='Construction & Real Estate', axis=0)
if var_industry == 'Culture & Education & Social':
    df4=df3.filter(like='Culture & Education & Social', axis=0)
if var_industry == 'Hotels and Restaurants':
    df4=df3.filter(like='Hotels and Restaurants', axis=0)
if var_industry == 'Industries (Utilities & Manufacturing & Agriculture)':
    df4=df3.filter(like='Industries (Utilities & Manufacturing & Agriculture)', axis=0)
if var_industry == 'Information and Communication':
    df4=df3.filter(like='Information and Communication', axis=0)
if var_industry == 'Services':
    df4=df3.filter(like='Services', axis=0)
df4

,,Nº Companies,Total Salaries €,Net Result,Nº Employees,Total Turnover €,Operational Profitability %,Survival rate %
Region,Industry Type,,,,,,,
Área Metropolitana de Lisboa,Services,193818,2.154157e+09,1.506045e+09,728855.0,2.093424e+10,19.0675,52.4350
Área Metropolitana do Porto,Services,104726,7.210004e+08,6.773603e+08,296196.0,7.973842e+09,28.6825,56.7575
Algarve,Services,30667,1.163545e+08,7.442135e+07,66919.0,1.121741e+09,19.7500,58.1075
Região de Coimbra,Services,24471,8.655902e+07,6.343632e+07,46875.0,1.216819e+09,23.3825,53.5500
Cávado,Services,21691,1.018613e+08,7.451782e+07,50574.0,1.189348e+09,23.9300,58.9350
Região de Aveiro,Services,20458,8.898587e+07,7.826878e+07,43861.0,1.087946e+09,22.6375,55.8925
Oeste,Services,20376,9.580318e+07,6.123758e+07,51117.0,1.232353e+09,25.7175,55.9650
Ave,Services,19113,9.038374e+07,7.059690e+07,45083.0,1.058183e+09,29.6100,61.7350
Região de Leiria,Services,17158,9.247190e+07,5.613187e+07,39178.0,1.113756e+09,18.6350,56.5900
Tâmega e Sousa,Services,16475,6.700722e+07,4.529863e+07,36404.0,8.081963e+08,24.3725,62.8100
Viseu Dão Lafões,Services,11445,5.068446e+07,5.915554e+07,24787.0,6.711001e+08,39.0325,58.3725
Alto Minho,Services,11294,4.183230e+07,3.727735e+07,22954.0,4.866177e+08,29.4200,59.1250
Médio Tejo,Services,11220,4.326580e+07,1.511616e+07,22922.0,8.172027e+08,15.2575,56.7825
Lezíria do Tejo,Services,11188,5.083401e+07,-1.060212e+08,24384.0,7.268177e+08,9.3850,53.8625
Beiras e Serra da Estrela,Services,9408,3.303478e+07,2.000628e+07,18923.0,3.695746e+08,21.4650,62.4625
Douro,Services,8345,2.492819e+07,1.571687e+07,15686.0,3.022707e+08,21.4775,57.9600
Alentejo Central,Services,7988,2.579274e+07,1.363308e+07,15860.0,2.767171e+08,15.7675,54.5000
Baixo Alentejo,Services,5321,1.568471e+07,8.752734e+06,9725.0,2.059204e+08,16.3500,57.5250
Terras de Trás-os-Montes,Services,4926,1.397150e+07,7.974906e+06,9212.0,1.837506e+08,23.9825,60.0450
Alentejo Litoral,Services,4827,2.106747e+07,3.503676e+06,10600.0,1.847619e+08,1.0425,55.1400
Alto Alentejo,Services,4776,2.627005e+07,9.583644e+06,11226.0,2.840259e+08,17.1900,58.3750
Alto Tâmega,Services,3801,9.743245e+06,6.348776e+06,6727.0,1.233420e+08,23.3975,65.7925
Beira Baixa,Services,3565,1.130261e+07,7.918754e+06,6660.0,1.307118e+08,20.8725,54.6225

In [15]:
#Drop-down Menu Select main KPI

from tkinter import *
import tkinter as ttk

root = Tk()
root.title("Best Place for your Company")

# Add a grid
mainframe = Frame(root)
mainframe.grid(column=0,row=0, sticky=(N,W,E,S) )
mainframe.columnconfigure(0, weight = 1)
mainframe.rowconfigure(0, weight = 1)
mainframe.pack(pady = 200, padx = 200)

# Create a Tkinter variable
tkvar = StringVar(root)

# Dictionary with options
choices = {'Nº Companies', 'Total Salaries €','Net Result','Nº Employees','Total Turnover €','Operational Profitability %','Survival rate %'}
tkvar.set("Operational Profitability %") # set the default option

popupMenu = OptionMenu(mainframe, tkvar, *choices)
Label(mainframe, text="Select Main KPI").grid(row = 1, column = 1)
popupMenu.grid(row = 2, column =1)

# on change dropdown value
def change_dropdown(*args):
    print( tkvar.get() )

# link function to change dropdown
tkvar.trace('w', change_dropdown)

root.mainloop()

Total Salaries €

In [16]:
var_KPI = tkvar.get() 
var_KPI

'Total Salaries €'

In [17]:
if var_KPI == 'Operational Profitability %':
    df6 = df4.sort_values(['Operational Profitability %'], ascending=[False])
if var_KPI == 'Nº Companies':
    df6 = df4.sort_values(['Nº Companies'], ascending=[False])
if var_KPI == 'Total Salaries €':
    df6 = df4.sort_values(['Total Salaries €'], ascending=[False])
if var_KPI == 'Net Result':
    df6 = df4.sort_values(['Net Result'], ascending=[False])
if var_KPI == 'Nº Employees':
    df6 = df4.sort_values(['Nº Employees'], ascending=[False])
if var_KPI == 'Total Turnover €':
    df6 = df4.sort_values(['Total Turnover €'], ascending=[False])
if var_KPI == 'Survival rate %':
    df6 = df4.sort_values(['Survival rate %'], ascending=[False])
df6.head()  

# Output final com ascending order do KPI escolhido em ascending order e a industria

,,Nº Companies,Total Salaries €,Net Result,Nº Employees,Total Turnover €,Operational Profitability %,Survival rate %
Region,Industry Type,,,,,,,
Área Metropolitana de Lisboa,Services,193818,2.154157e+09,1.506045e+09,728855.0,2.093424e+10,19.0675,52.4350
Área Metropolitana do Porto,Services,104726,7.210004e+08,6.773603e+08,296196.0,7.973842e+09,28.6825,56.7575
Algarve,Services,30667,1.163545e+08,7.442135e+07,66919.0,1.121741e+09,19.7500,58.1075
Cávado,Services,21691,1.018613e+08,7.451782e+07,50574.0,1.189348e+09,23.9300,58.9350
Oeste,Services,20376,9.580318e+07,6.123758e+07,51117.0,1.232353e+09,25.7175,55.9650

In [ ]:
from IPython.display import Image
Image(filename='data.jpg')